# Database credentials
POSTGRES_USER=...
POSTGRES_PASSWORD=...
POSTGRES_DEV_DB=...
POSTGRES_TEST_DB=...

# Database URLs
DATABASE_URL=...
TEST_DATABASE_URL=...
# S3 buckets
DATA_BUCKET_NAME=...
# Front-end
FRONTEND_ORIGIN=...